.before-blur-effect:before {
    content: '';
    position: absolute;
    top: -1.5em;
    right: -1.5em;
    bottom: -1.5em;
    left: -1.5em;
    z-index: -1;
    border: inherit;
    border-color: transparent;
    background: inherit;
    background-clip: border-box;
    -webkit-filter: blur(9px);
    filter: blur(9px);
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }
  