@charset "UTF-8";
.styled-div {
  position: relative;
  border: solid 1.5em rgba(0, 0, 0, 0.03);
  height: 40vmin;
  width: 100%;
  background: url(../../../public/images/header_standin.jpg) 50%/cover border-box padding-box;
  font-size: 3.5em;
}

.styled-div::before {
  position: absolute;
  z-index: -1;
  top: -1.5em;
  right: -1.5em;
  bottom: -1.5em;
  left: -1.5em;
  border: inherit;
  border-color: transparent;
  background: inherit;
  background-clip: border-box;
  filter: blur(9px);
  content: "";
}
